mule/apdev-example/src/main/app/apdev-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <sub-flow name="subFlow1">
        <set-property propertyName="forecolor" value="black" doc:name="Property"/>
        <set-variable variableName="flowVar2" value="'flowVar2_Val'" doc:name="Variable"/>
        <set-session-variable variableName="sessionVar2" value="'sessionVar2_val'" doc:name="Session Variable"/>
        <set-payload value="#[message.inboundProperties.color]" doc:name="Set Payload"/>
        <logger message="LOGGER2:: color=#[message.outboundProperties.color],forecolor=#[message.outboundProperties.forecolor],var1=#[flowVars.floVar1],var2=#[flowVars.flowVar2],sessionVar1=#[sessionVars.sessionVar1],sessionVar2=#[sessionVars.sessionVar2]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <flow name="apdev-exampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="GET" doc:name="HTTP"/>
        <set-property propertyName="color" value="gray" doc:name="Property"/>
        <set-variable variableName="floVar1" value="#[message.inboundProperties.'http.query.params'.var1]" doc:name="Variable"/>
        <set-session-variable variableName="sessionVar1" value="#[message.inboundProperties.'http.query.params'.var2]" doc:name="Session Variable"/>
        <set-payload value="#['Hello World'.toUpperCase()]" doc:name="Set Payload"/>
        <logger message="LOGGER3:: color=#[message.outboundProperties.color],forecolor=#[message.outboundProperties.forecolor],var1=#[flowVars.floVar1],var2=#[flowVars.flowVar2],sessionVar1=#[sessionVars.sessionVar1],sessionVar2=#[sessionVars.sessionVar2]" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="/flights/subFlowVM" doc:name="VM"/>
        <logger level="INFO" doc:name="Logger" message="LOGGER1:: color=#[message.outboundProperties.color],forecolor=#[message.outboundProperties.forecolor],var1=#[flowVars.floVar1],var2=#[flowVars.flowVar2],sessionVar1=#[sessionVars.sessionVar1],sessionVar2=#[sessionVars.sessionVar2]"/>
    </flow>
    <flow name="apdev-exampleFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights/subFlow1" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="subFlow1" doc:name="subFlow1"/>
    </flow>
    <flow name="apdev-exampleFlow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="/flights/subFlowVM" doc:name="VM"/>
        <flow-ref name="subFlow1" doc:name="subFlow1"/>
    </flow>
</mule>
